/*04/02/2020 - 11:38 */

/*Tags gerais*/
a, li {
    color: black;
    list-style: none;
}
a:hover {
    text-decoration: none;
    color:#117711;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
    margin: 0;
}
h4 {
    font-size: 1.2em;
}
h5 {
    margin-top: 5px;
    font-size: .9em;
}
p {
    font-size: 1em;
}


/* Navbar */
.navbar{
    width: 100%;
    min-width: 315px;
    background-color: white;
    padding: 0;
    text-align: right;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.24);
}
.navbar-brand {
    display: inline-flex;
    padding: 10px 0 10px 20px;
}
.navbar-brand img {
    width: 100%;
    min-width: 200px;
    max-width: 350px;
}
.navbar-toggler {
    margin-right: 20px;
}
.navbar-nav {
    background-color: white;
    padding: 0 10px 0 0 ;
}
.navbar-light .navbar-nav .nav-link {
    position: relative;
    box-sizing: border-box;
    color: black;
    padding: .5rem .8rem 0 .8rem;
}
    
.navbar-light .navbar-nav .nav-link:hover{
    color: #117711;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:last-child{
    color: black;
    padding-top: 0;
}

button.chamada {
    background-color: #117711;
    border-radius: 3px;
    border: none;
    color: white;
    padding: .5rem .8rem;
}
/*Detalhe do active*/
.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #117711;
}

.navbar-light .navbar-nav .nav-link.active::after {
    content: '';
    width: 80%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: #117711;
}
/* INICIO */
.pginicio {
    margin-top: 80px;
}
/* Classe do Background inicial do site */
.bgfoto1 {
    width: 100%;
    min-height: 300px;
    padding: 0;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: center;
} /* classe criada por Jeni */

.bgfoto1 img:nth-child(1) {
    width: 100%;
    min-width: 800px;
    position: relative;
    display: inline-flex;
}
.bgfoto1 img:nth-child(2) {
    position: absolute;
    display: inline-flex;
    align-self: center;
    width: 35%;
    min-width: 300px;
}  
/* Classe do background inicial dos subtitulos */
.bgfoto2 {
    width: 80%;
    max-height: 300px;
    min-height: 140px;
    padding: 0;
    overflow: hidden;
}
.bgfoto2 img {
    width: 100%;
    min-width: 700px;
}
#videoSummit {
    width: 100%;
    display: flex;
}
#videoSummit .video {
    margin: 10px auto 5px auto;
}
.titulo {
    font-weight: bold;
}  /* classe criada por Jeni */
.subtitle {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .45);
    position: absolute;
    bottom: 25%;
    padding: 1rem 2rem 1rem 6rem;
}


/* Botão ver mais */
.btn.vermais {
    background-color: #5CB85C;
    padding: .4rem 1.5rem;
    color: white;
    display: block;
    margin: 30px auto 20px auto;
    border-radius: 2px;

}
.btn.vermais:hover {
    background-color: white;
    color: #5CB85C;
    border: 1px solid #5CB85C;
}

/*NOTICIAS*/
#noticias {
    margin-top: 70px;
}
#noticias a {
    width: 100%;
}
#noticiasshow {
    padding: 2rem 2.5% 0 2.5%;
    margin: 0;
    width: 100%;
}
#noticias2 {
    padding: 0 2.5% 0 2.5%;
    margin: 0;
    width: 100%;
}
.noticias {
    margin-top: 40px;
    background-color: rgba(196, 196, 196, .1);
}
.card.noticias {
    width: 100%;
    height: 370px;
    overflow: hidden;
    text-align: left;
    padding: 20px 15px 10px 15px; 
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 2rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    background-color: white;
}

.card.noticias .cardimg {
    width: 90%;
    height: 180px;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    overflow: hidden;
    display: block;
}
.card.noticias .cardimg img {
    height: 100%;
}
.card.noticias .cardContent{
    padding: 0 15px;
}
.card.noticias p {
    padding-top: 10px;
}


/*CONFERENCIA*/
#conferencia {
    margin-top: 70px;
}
.conteudo {
    margin: 30px 0 20px 0;
}
.oradores {
    background-color: rgba(196, 196, 196, .1);
}



.card.orador {
    width: 100%;
    text-align: center;
    padding: 20px 15px 10px 15px; 
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 2rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    min-height: 400px;
    overflow: hidden;
}

/*
.card.orador {
    width: 100%;
    text-align: center;
    padding: 20px 15px 10px 15px; 
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 2rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    min-height: 450px;
  
    overflow: hidden;
}
*/

.card.orador h4, .card h4 {
    margin: 0;
}
.card.orador .cardimg {
    background-color: gray;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    overflow: hidden;
}
.card.orador img {
    width: 150px;
}
.card.orador img.fotop {
    height: 160px;
    width: auto;
    max-width: auto;
    transform: translate(-20%, 0);
}
.card.orador a {
    text-align: left;
}
.card.orador a img {
    width: 18%;
}
.cardshow {
    display: none;
}
.cardhidden {
    display: flex;
}
.carousel-item {
    width: 100%;
}
.carousel-item .card {
    width: 30%;
    float: left;
    margin: 0 10px;
}
.control-prev {
    position: absolute;
    top: 45%;
    right: 10%;
}
.control-next {
    position: absolute;
    top: 45%;
    left: 10%;

}
#carouselOradores {
    padding-top: 3rem;
}
#oradores3 {
    padding: 2rem 2.5% 0 2.5%;
    margin: 0;
}
#todosoradores {
    padding: 0rem 2.5% 2rem 2.5%;
    margin: 0;
}
.veroradores {
    width: 100%;
    margin: 0;
}
/* CRONOGRAMA */
#cronograma {
    margin-top: 30px;
}

#cronograma h2 {
    margin: 0 auto;
}

#cronograma h3 {
    font-size: 1.7em;
    padding: .5rem .8rem;
    background-color: #5199DB;
    display: inline-flex;
    color: white;
    margin: 2rem 20% 0 20%;
}

.horarios {
    background-color: rgba(196, 196, 196, .1);
    padding: 0 2.5% 25px 2.5%;
    margin: 20px 0;
}

.horas {
    width: 100%;
    background-color: #5199DB;
    font-size: 1.7em;
    font-weight: bolder;
    margin-top: 8rem;
    text-align: center;
    color: white;
}

.horas:nth-child(1) {
    margin-top: 10rem;
}

.horasVazio {
    width: 100%;
    background-color: none;
    font-size: 1.7em;
    font-weight: bolder;
    margin-top: 8rem;
    text-align: center;
    color: white;
}
/*
removido a pedido da Nídia
.horas.horasLinha::before {
    content: '';
    width: 5px;
    height: 360px;
    background-color: #5199DB;
    position: absolute;
    z-index: -1;
}
*/

.horarios .cardAssunto {
    min-height: 135px;
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.horarios .cardAssuntoCinza {
    min-height: 135px;
    background-color: none;
    padding: 10px;
    margin-top: 30px;
}

/*Noticias*/

.noticia {
    background-color: rgba(196,196,196,.1);
    max-width: 1140px;
    margin: auto;
}
.noticiaimg {
    max-width: 0px;
    margin-top: 10px;
 }

 

/*EXPOSICAO*/
#exposicao {
    margin-top: 70px;
}
.exposicao_mapa {
    width: 100%;
    background-color: rgba(196, 196, 196, .1);
    padding: 5% 5%;
    margin: 0;
    overflow: hidden;
}
.exposicao_mapa img {
    width: 100%;
}

/* SPEED RECRUITMENT */
#speedrecruitment {
    margin-top: 70px;
}
#recruitment {
    background-color: rgba(196, 196, 196, .1);
    margin-bottom: 40px;
    margin-top: 40px;
}
#recruitment .conteudo {
    margin: 0
}
#recruitment .card {
    margin: 20px;
}
.card-header.faq {
    color: white;
    background-color: #5CB85C;
    cursor: pointer;
}
.card-header.faq p {
    margin: 0;
    font-size: .8em;
    font-weight: normal;
}
.card-header.faq img {
    width: 1.5rem;
    position: absolute;
    top: 15px;
    right: 2%;
}
#faq .card li {
    text-decoration: underline ;
}
button {
    box-shadow: none;
    border: none;
}

/*PRE INSCRICAO*/
#preInscricao {
    margin-top: 70px;
}
#preInscricao .chamada:hover {
    color: white;
}
#inscricao {
    background-color: rgba(196, 196, 196, .1);
    padding: 0 2.5% 30px 2.5%;
    margin-top: 40px;
}
#inscricao h2 {
    text-align: center;
    padding: 15px 0;
}
#inscricao .textoForm {
    padding: 0 5%;
}
#inscricao .mapa {
    margin: 30px 0 0 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
#inscricao .mapa iframe {
    width: 70%;
    height: auto;
    min-width: 280px;
    min-height: 350px;
    margin: 0 auto;
}
.margin0 {
    margin: 0;
}
.RGPD {
    color: blue;
}
.RGPD:hover {
    text-decoration: underline;
}

/*FINAL DA PAGINA*/
.pgfinal {
    margin-bottom: 100px;
}
#footer {
    background-color: rgb(51, 89, 94);
    padding: 20px 20px;
    color: white;
    margin-top: 70px;
}
#footer ul {
    list-style: none;
    padding: 0;
    font-size: .9em;
}
#footer a {
    color: white;
}
#footer a:hover {
    text-decoration: underline;
}
#footer p {
    font-size: .7em;
}
#turma a {
    display: inline-flex;
    padding: 1rem;
    background-color: rgb(151, 51, 177);
    border-radius: 5px;
}
#redesSociais {
    text-align: center;
}
#redesSociais img {
    padding-top: 1rem;
    width: 50%;
    max-width: 60px;
}
#logosFooter {
    text-align: center;
}
#logosFooter img {
    width: 80px;
    margin: 0 10px;
}
#logosFooter .logop{
    height: 40px;
    width: auto;
}

/* CONTADOR */
.contador {
    width: 100%;
    height: 100px;
    background-color: #17A2B8;
    padding: 1% 0%;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 20;
}
.contador p {
    padding: 1.2rem 0;
    font-weight: 550;
    font-size: 1.3em;
}
.contador .bgnum {
    float: left;
    text-align: center;
    margin: 0 2%;
}
.contador .bgnum p {
    margin: 0;
    font-size: .9em;
    font-weight: normal;
    padding: 0;
}
.contador .bgnum p:first-child {
    padding-bottom: .5rem;
}
.contador .bgnum .num {
    background-color: rgba(103, 103, 103, .7);
    padding: .1rem .4rem;
    display: block;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
}
.contador button.chamada {
    background-color: #B154C9;
    padding: .8rem 1.5rem;
    margin: 5% 0 0 0;
}



/************STANDS*******/
.exposicao_stand {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    align-items: center;
    margin: auto;
    /*
  justify-content: space-evenly ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 750px;
  align-content:space-around;
  padding: 0 10%;*/
    
}
.stand {
	color: #fff;
    padding: 30px 15px 0px 20px;
    margin: 5px;	
	background: #3db5da;
    border-radius: 3px;
    flex: 1 300px;
    min-height: 90px; 
    word-wrap: break-word;
    text-align: center;
}
.pop {
    cursor: pointer;
}

.speed_mapa {
    min-width: 370px;
    display: inline-flex;
    padding: 0 10%;


}

.speed {
        color: #fff;
        padding: 30px 15px 0px 20px;
        background: #3db5da;
        border-radius: 3px;
        min-height: 90px;
        text-align: center;
     
    }

.stand-1 {
    background: #007BFF; 
}
.stand-2 {
    background: #218838; 
}

.stand-3 {
    background: #5CB85C; 
}

.stand-4 {
   background: #007BFF; 
}

.stand-5 {
   background: #218838; 
}

 .stand-6   {
    background: #00A359; 
 }
 .stand-7 {
    background: #5CB85C; 
 }

 
 .stand-8 {
    background: #007BFF; 
 }

 .stand-9 {
    background: #F74F58;
}

 .stand-10 {
    background: #00A359; 
 }

 .stand-10 {
    background: #00979D; 
 }

 
 .stand-11 {
    background: #218838;
}
 .stand-12 {
    background: #007BFF;
}

.stand-13   {
    background: #218838 
 }
 .stand-14 {
    background: #C17F5C; 
 }


.headoradores {
    margin-left: 30px;
    margin-top: 10px; 
    position: absolute; 
    z-index: 10;
}

.headstands {
    text-align: center;
    margin-bottom: 25px; 
    margin-top: -20px ;
}



/*media Artur */

@media (max-width: 767px) { 
    .headoradores {
        margin-left: 115px;
        margin-top: 10px; 
    }
}



@media (max-width: 780px) { 
    
      .stand {
        flex-basis: 40%;
      }


}

@media (max-width: 400px) { 

    .stand  {
        margin: 2px;
        min-width: 140px;
    }

    .headoradores {
        margin-top: 10px; 
        font-size: 1.5rem;
        margin-left: 30px;

    }
    
    .headstands {
        margin-top: 20px;
    }
}


.cont {

    max-width: 1150px;

}


@media (max-width: 991.98px) { 
    .headoradores {
        margin-left: 90px;

    }


    .card.orador {
        min-width: 266px;
        max-height: 425px;

}

}


/*Media Queries Jeniffer*/


@media (max-width: 991.98px) { 
    .navbar-brand {
    width: 65%;
    }
    
    .navbar-nav {
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link {
    margin: 5px 0;
    }
    .navbar-light .navbar-nav .nav-link.active::after {
    width: 0;
    height: 0;
    }
    .video iframe {
    width: 560px;
    height: 315px;
    }
    .contador button.chamada {
    margin-top:  1rem;
    }
    .contador p {
    padding: .5rem 0;
    }
    .cardshow {
    display: flex;
    }
    .cardhidden {
    display: none;
    }

  
}
@media (max-width: 800px) {
    .contador button.chamada {
        padding: .5rem 1rem;
    }
    .contador {
        padding-left: 0%;
        padding-right: 0%;
    }
    .contador button.chamada {
        margin-top:  1.6rem;
        font-size: .8em;
    }
    .contador p {
        font-size: 1em;
        padding: 1rem 0;
    }
    #logosFooter{
        margin-top: 10px;
    }
    .video iframe {
        width: 460px;
        height: 315px;
    }
}
@media (max-width: 600px) { 
    #oevento .conteudo{
        padding-right: 40px;
        padding-left: 40px;
    }
    .pgfinal {
        margin-bottom: 120px;
    }
    .contador {
        height: auto;
    }
    .contadorDiv {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .contadorDiv:nth-child(1) {
        display: none;
    }
    .contador button.chamada {
        margin-top:  .6rem;
    }
    #logosFooter{
        margin-top: 20px;
    }
}
@media (max-width: 500px) {
    body {
        font-size: 14px;
    }
    .pgfinal {
        margin-bottom: 110px;
    }
    #turma {
        text-align: center;
    }
    .video iframe {
        width: 360px;
        height: 215px;
    }
}
@media (max-width: 360px) {
    .video iframe {
        width: 290px;
        height: 215px;
    }
    .horarios {
        padding: 0 0 25px 0;
    }
    .horas {
       margin-top: 10rem;
    }
    .horas.horasLinha::before {
        height: 400px;
    }
    .contador {
        padding: 0 2%;
    }
    .contador .relogio {
        padding-left: 0;
    }

}







