
.navbar-light .navbar-nav .nav-link.active::after {
    content: '';
    width: 80%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: black;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
    position: relative;
    padding: .5rem 1rem 0rem 1rem;
    white-space: nowrap;
    text-align: right;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #117711;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:last-child{
    color: black;
    padding-top: .1rem;
}
button.chamada {
    background-color: #117711;
    border-radius: 3px;
    border: none;
    color: white;
    padding: .5rem 1rem;
}


/* INICIO */
.pginicio {
    margin-top: 80px;
}
/* Classe do Background inicial do site */
.bgfoto1 {
    width: 100%;
    min-height: 300px;
    padding: 0;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
} /* classe criada por Jeni */
.bgfoto1 img:nth-child(1) {
    width: 100%;
    min-width: 800px;
}
.bgfoto1 img:nth-child(2) {
    position: absolute;
    top: 11.5%;
    right: 32.5%;
    display: block;
    width: 35%;
    min-width: 300px;
} 

@media (max-width: 991.98px) { 
    .navbar-light .navbar-nav .nav-link.active::after {
    width: 0;
    height: 0;
    }
}
