body {
    font-family: Tahomam, Arial, sans-serif;
}

table {
     align-content: center;
}

th {
        padding: 10px 5px 10px;
}

td, th {
    padding: 5px 5px 3px;
    text-align: right;
    font-size: 10pt;
    margin: none;
}

tr {
    background-color: lightgray;
    border-bottom: 2px solid black;
}

tr:hover {
    background-color: gray;
    color: white;
}

.cat {
    font-size: 8pt;

}

.button {
    box-sizing: border-box;
    padding:5px;
    background-color: cadetblue;
    color: white;
    border-radius: 2px;
    text-decoration: none; 
}