body {
    font-family: Tahomam, Arial, sans-serif;
    font-size: 10pt;
}

table {
    border-style: none; 
}

th {
    line-height: 20px;
}

td, th {
    border-style: none;
    text-align: right;
    padding: 2px;
    background-color: lightgray;
}

tr {
    
}

.cat {
    font-size: 11px;
    border-bottom: 2px, solid, white;

}

.button {
    box-sizing: border-box;
    padding:5px;
    background-color: cadetblue;
    color: white;
    border-radius: 2px;
    text-decoration: none;
}